.oilPumps
{
	top: 0;
	position: fixed;
	width: 0%;
	height: 0%;
	button
	{
		position: fixed;

		width: 16em;

		border-width: 0;
		border-radius: 10%;
		background-color: #fff0;
		background-position: center 40%;
		background-size: 200% 200%;

		aspect-ratio: 1;
		translate: -50% -50%;
	}
	.b0
	{
		left: 22vw;
		top: 25vh;
	}
	.b1
	{
		left: 72vw;
		top: 32vh;
	}
	.b2
	{
		left: 22vw;
		top: 63vh;
	}
	.b3
	{
		left: 89vw;
		top: 64vh;
	}
}
