.PumpShop
{
	display: flex;
	overflow-y: scroll;
	flex-direction: column;

	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 3%;

	border: none;
	border-radius: 1rem;
	background-color: #0000;

	gap: 1em;
	justify-content: start;
	align-items: center;

	div.element
	{
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		gap: 5%;

		box-sizing: border-box;
		width: 100%;
/*		min-height: 30%;*/
		padding: 5%;

		border-radius: .5rem;
		background: linear-gradient(45deg, #567aac 60%, #4f98c1 80%, #567aac 110%);

		.img
		{
			position: relative;
			
			aspect-ratio: 1;

			display: block;

			border: 3px;
			border-style: solid;
			border-color: #f4d24b;
			border-radius: 13%;
			background-image: url('/OilPumps/lvl_1.png'), linear-gradient(45deg, #e4ac71 0%, #edc882 50%, #e4ac71 100%);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%, 100%;

		}

		.description
		{
			height: 100%;
			position: relative;
			font-size: .5rem;
			display: flex;
			flex: 50%;
			flex-direction: column;

			justify-content: space-between;
			align-items: center;

			text-align: left;
			button
			{
				position: relative;

				display: block;

				width: 100%;
				height: 2em;

				transition: .5s;

				border-width: 2px;
				border-style: solid;
				
				border-radius: .5rem;

				translate: 0 0;
			}

			.buy
			{
				border-color: #9f9;
				background: linear-gradient(45deg, #4DAD4C 15%, #7BB648 40%, #96C650 85%, #4DAD4C 110%);
			}
			.sell
			{
				border-color: #F99;
				background: linear-gradient(45deg, #f55 15%, #f66 40%, #f99 85%, #f55 110%);
			}
			/*.active:active
			{
				background: radial-gradient(#FC05, #0000 80%), linear-gradient(45deg, #f55 15%, #f99 40%, #f55 85%, #f55 110%);
			}*/
			.inactive
			{
				border-color: #999;
				background: linear-gradient(45deg, #555 15%, #666 40%, #999 85%, #666 110%);
			}
		}
	}
}